@charset "UTF-8";

/*criação de fonte por arquivo*/
@font-face {
    font-family: 'RobotoMd';
    src: url(../Fonts/Roboto-Medium.ttf) format('truetype');
}

/*configs gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family:'RobotoMd' !important;
    font-weight: 500;
}

/*variaveis*/
:root{
    --background: #F3F4F6;
    --bluePrin: #3B82F6;
}

/*area body*/
body{
    height: 100dvh;

    background-color: white!important;
}

/*Area container login*/
#container_login{
    background-color: var(--background);

    border-radius: 39px;

    height: 85%;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.477);
}

p{
    font-size: 1.6rem;
    text-align: start;
}

label{
    font-size: 1.4rem;
}

input{
    width:75%;

    border-radius: 10px;
    border: none;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.477);
}

button{
    background-color: var(--bluePrin);
    color: white;

    border: none;

    width: 65%;

    border-radius: 10px;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.477);
}

/*Fim area container login*/

/*inicio area aviso topo*/
.avisoTopo{
    margin-top: 5px;

    padding: 5px;

    border-radius: 10px;

    width: 62%;
    min-height: 40px;
    max-height: 70px;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: 10;

    display: none;

    animation: opacidade 0.5s ease-in-out;
    transition: opacity 0.5s ease;
}

.avisoTopo.fade-out{
    opacity: 0;
}

.iconAviso{
    width: 20px;
    height: 20px;

    margin-right: 10px;
}

.textoAviso{
    color: white;

    font-size: 1.1rem;
}
/*fim area aviso topo*/