@charset "UTF-8";

/*criação de fonte por arquivo*/
@font-face {
    font-family: 'RobotoMd';
    src: url(/Fonts/Roboto-Medium.ttf) format('truetype');
}

/*configs gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family:'RobotoMd' !important;
    font-weight: 500;
}

/*variaveis*/
:root{
    --background: #F3F4F6;
    --bluePrin: #3B82F6;
    --purple: #7C3AED;
    --navDias: #535353;
    --btnAddTarefa: #10B981;
    --txtEspec: rgba(0, 0, 0, 0.543);
    --vermelho: #EC2126;
    --cnt: #E0E0E0;
}

/*area body*/
body{
    height: 100dvh;

    background-color: var(--background);

    display: flex;
    flex-direction: column;
}

/*inicio areas que aparecem com interações*/
#areaAddTask, #areaRenomear, #areaConfirmExclu{
    background-color: #5353535c;

    position: absolute;

    width: 100dvw;
    height: 100dvh;
}

#headerConfirmExclu{
    width: 100%;
}

#tituloRenomear{
    background-color: var(--bluePrin);

    border-radius: 20px 20px 0px 0px;

    color: white;

    font-size: 1.2rem;

    height: 40px;
}

#cntConteudoRnm, #cntContConfirmExclu{
    width: 100%;
}

#nomeAtt{
    border: none;
    border-radius: 10px;

    background-color: #D9D9D9;

    height: 35px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.477);
}

.iconFechar{
    position: absolute; 
}

#pAddTask, #pConfirmExclu{
    font-size: 1.4rem;
}

#cntNovaTask, #cntRenomear, #cntConfirmExclu{
    background-color: var(--background);

    width: 80%;

    border-radius: 20px;
}

#cntConfirmExclu{
    background-color: var(--cnt);
}

#nomeTarefa, #hInicio, #hFim{
    border: none;
    border-radius: 10px;

    background-color: #D9D9D9;

    height: 35px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.477);
}

#btnNewTask, #btnConfirmarNome, #btnConfirmExclu{
    border: none;
    border-radius: 10px;

    background-color: var(--bluePrin);
    color: white;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.477);
}

#btnConfirmarNome, #btnConfirmExclu{
    width: 50%;

    padding: 4px;
}

#btnConfirmExclu{
    background-color: var(--vermelho);
}

/*inicio area para adicionar tarefa*/

/*area header*/
header{
    background-color: var(--purple);

    border-radius: 0px 0px 30px 30px ;
    
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.477);
}

#pUser{
    font-size: 1.8rem;

    color: white;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.523);
}
/*fim area do header*/

/*inicio area de navegacao dias*/

nav{
    background-color: white;

    border-radius: 30px;
    height: 40px;
    width: 100vw;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.477);

}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;

    color: var(--navDias);
}

#bodySeg #segunda a,
#bodyTer #terca a,
#bodyQua #quarta a,
#bodyQui #quinta a,
#bodySex #sexta a,
#bodySab #sabado a,
#bodyDom #domingo a{
    color: var(--bluePrin);
    text-decoration: underline;
}

/*fim area de navegacao dias*/

/*inicio area main cronograma*/
main{
    margin-top: 30px;
    padding: 10px;
}

main h1{
    font-size: 1.8rem;
}

#comPlan{
    background-color: var(--bluePrin);
    color: white;
    
    border: none;
    border-radius: 10px;

    width: 70%;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.477);
}

#contSemTask{
    display: flex;
}

#contComTask{
    display: none;

    
}

#btnAdicionarTarefa{
    background-color: var(--btnAddTarefa);

    border-radius: 50%;
    border: none;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.477);

    width: 40px;
    height: 40px;

    color: white;

    font-size: 1.2rem;
}

.cntTarefaAdicionada{
    display: flex;

    justify-content: space-between;

    background-color: white;

    padding: 10px;
    border-radius: 20px;

    height: 70px;

    margin-bottom: 20px;
}

.txtHorarios{
    color: var(--txtEspec);
}

#contBtnNovaTarefa{
    display: none;
}
/*fim area main cronograma*/

/*inicio area footer*/

footer{
    background-color: var(--bluePrin);

    width: 100vw;

    position: fixed;
    bottom: 0;
}

a{
    text-decoration: underline;
    color: white;
}

/*fim area footer*/